
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
            {
                <p>
                    <label>Username:</label>
                    <input type="text" name="TenTK"/>
                </p>
                <p>
                    <label>Password:</label>
                    <input type="text" name="Pass"/>
                </p>
                <p>
                    <input type="submit" value="Login" name="Login"/>
                </p>
            }
@ViewBag.errorMsg
